@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Material+Icons");

* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background: #88abff;
}
.wrapper {
    margin: 50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li {
    height: 280px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    padding: 15px 20px 20px;
}
.add-box , .icon , .bottom-content , .settings .menu li , .popup , header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-box {
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.add-box .icon {
    width: 78px;
    height: 78px;
    border: 2px dashed #88abff;
    border-radius: 50%;
    color: #88abff;
    font-size: 40px;
    justify-content: center;
}
.add-box p {
    color: #88abff;
    font-weight: 500;
    margin-top: 20px;
}
.wrapper .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note .details {
    max-height: 200px;
    overflow-y: hidden;
}
.note p {
    font-size: 22px;
    font-weight: 500;
}
.note span {
    display: block;
    margin-top: 5px;
    color: #575757;
    font-size: 16px;
}
.note img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}
.note .bottom-content {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.bottom-content span {
    color: #6d6d6d;
    font-size: 14px;
}
.bottom-content .settings {
    color: #6d6d6d;
    font-size: 15px;
    cursor: pointer;
}
.settings {
    position: relative;
}
.settings .menu {
    position: absolute;
    bottom: 0;
    right: -5px;
    padding: 5px 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
}
.settings.show .menu {
    transform: scale(1);
}
.settings .menu li {
    height: 25px;
    border-radius: 0;
    justify-content: flex-start;
    padding: 17px 15px;
    font-size: 16px;
    cursor: pointer;
}
.menu li:hover {
    background: #f5f5f5;
}
.menu li i {
    padding-right: 8px;
}
.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.popup-box .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 400px;
    width: 100%;
    z-index: 3;
    transform: translate(-50%, -50%);
    justify-content: center;
}
.popup-box, .popup-box .popup {
    opacity: 0;
    pointer-events: none;
}
.popup-box.show, .popup-box.show .popup {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.2s ease;
}
.popup .content {
    width: calc(100% - 15px);
    background: #fff;
    border-radius: 5px;
}
.popup .content header {
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}
.content header p {
    font-size: 20px;
    font-weight: 500;
}
.content header i {
    color: #8b8989;
    font-size: 23px;
    cursor: pointer;
}
.content form {
    margin: 15px 25px 35px;
}
.content form .row {
    margin-bottom: 20px;
    position: relative;
}
form .row label {
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}
.row .file-upload-wrapper {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 35px;
    height: 35px;
    padding: 0 10px;
}
.row .file-upload-wrapper :where(img, #file-upload, #file-cancel ) {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}
.row .file-upload-wrapper img {
    object-fit: cover;
}
.row .file-upload-wrapper #file-cancel {
    background: #fff;
    color: #ff0000;
}
.row .file-upload-wrapper :where(img, #file-cancel),
.row .file-upload-wrapper.file-uploaded #file-upload {
  display: none;
}
.row .file-upload-wrapper.file-uploaded img,
.row .file-upload-wrapper.file-uploaded:hover #file-cancel {
  display: block;
}
.content form :where(input, textarea) {
    width: 100%;
    height: 50px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 17px;
    padding: 0 15px;
    outline: none;
}
.content form textarea {
    height: 100px;
    resize: none;
    padding: 8px 15px;
}
.popup-image {
    width: 180px;
    height: 200px;
    margin-bottom: 10px;
}
.popup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.content form #add-btn {
    width: 100%;
    height: 50px;
    background: #88abff;
    outline: none;
    border: none;
    color: #fff;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
}